<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>googlemaps-ts-demo</title>
  <link rel="stylesheet" href="index.css" />
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_API_KEY %>&libraries=&v=weekly"
    defer></script>
  <script src="bundle.js" defer></script>

</head>

<body>
  <div id="map">
    <p>Please enter an address!</p>
  </div>
  <form>
    <input type="text" id="address">
    <button type="submit">SEARCH ADDRESS</button>
  </form>
</body>

</html>
